/* body{
    background:red !important;
} */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(135deg, #07132b 0%,#14154a 30%, #2a155d 60%, #0a0f26 100%);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.password-box{
width:430px;
background:white;
padding:40px;
border-radius:18px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.password-box h1{
text-align:center;
color:#2a155d;
}

.password-box h2{
text-align:center;
margin:15px 0 30px;
color:#666;
}

.input-box{
margin-bottom:20px;
}

.input-box label{
display:block;
font-weight:bold;
margin-bottom:8px;
color:#2a155d;
}

.input-box input{
width:100%;
padding:14px;
border:2px solid #ddd;
border-radius:10px;
font-size:15px;
}

.input-box input:focus{
border-color:#2a155d;
outline:none;
}

button{
width:100%;
padding:15px;
background:#2a155d;
color:white;
border:none;
border-radius:10px;
font-size:17px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#1f1046;
}